@page
@model drawingnew.Pages.Drawmethods.DrawShapesModel
@{
}
<div>
   <form id="frmdrawshapes">
       <div class="row">
           <div class="col-md-6">
               <label>Name</label>

           </div>
       </div>
        <canvas id="canvas-circle" class="toggle-circle" style="border:1px solid #000000;"></canvas>

        <div id="button-circle" class="toggle-circle">
            <input type="button" id="clear" value="Clear">
        </div>
   </form>
</div>
