@page
@model drawingnew.Pages.Drawmethods.DrawShapesModel
@{
}
<div>
   <form id="frmdrawshapes">
       <div class="row">
           <div class="col-md-6">
               <label>Name</label>
               <input type="text" class="form-control" id="txt_shapeName" />

           </div>
            <div class="col-md-6">
                <label>Email</label>
                <input type="email" class="form-control" id="txt_shapeemail" />

            </div>
       </div>
        <div class="row">
            <div class="col-md-12">
                <canvas id="canvas-circle" class="form-control toggle-circle" style="border:1px solid #000000;"></canvas>

                <div id="button-circle" class="toggle-circle">
                    <input type="button" id="clear" value="Clear">
                </div>
            </div>
        </div>
   </form>
</div>
